<!-- LAYOUT -->
<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Clean.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Navigation-Clean.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Registration-Form-with-Photo.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/simplePagination.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">

        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.simplePagination.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib.js') }}"></script>
    </head>
    

<body>
    <!-- LOADER -->
    <div id="loader_container">
        <div id="loader_center">
            <div id="loader_spinner">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                  </div>
            </div>
            <div id="loader_message">
                Un momento, estamos preparando todo
            </div>
        </div>
    </div>

    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="{{url_for('dashboard')}}">Movies</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('categorias')}}"><i class="fas fa-tasks"></i> Categorías</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('calificaciones')}}"><i class="fas fa-eye"></i> Calificaciones</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                        <i class="fas fa-user-cog"></i> {{session.get('user').username}}
                    </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="{{ url_for('perfil') }}"><i class="fas fa-user"></i> Mi perfil</a>
                            <a class="dropdown-item" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>