{% extends "layouts/dashboard_layout.html" %}
{% block title %} Calificaciones {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="jumbotron bg-white text-dark">
                                <h1 class="text-center">Recomendador de películas</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}