<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>recomendador_peliculas</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css?h=80180d6069a81c72bc1f984c07be7061">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css?h=a52d057774a957ffc5c4e3aabf79520a">
    <link rel="stylesheet" href="../assets/css/Login-Form-Clean.css?h=587ac2057624923cd5be3eaf8b1158cd">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css?h=bd36a0e1e15ca19cbc401cc5f46ca8ca">
    <link rel="stylesheet" href="../assets/css/Registration-Form-with-Photo.css?h=72be7233aaa8dd457ec811efb5d368e6">
    <link rel="stylesheet" href="../assets/css/styles.css?h=85bc279b853db3c79a07875f4bcd84f4">
</head>

<body style="background: rgb(217,217,217);">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="recommendations.html">Movies</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="dashboard.html">Categorías</a></li>
                    <li class="nav-item"><a class="nav-link" href="rates.html">Calificaciones</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Usuario&nbsp;</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Mi perfil</a><a class="dropdown-item" href="../index.html">Cerrar sesión</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4>Califica las películas que hayas visto</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Película 1</h4><span>Año</span><span>Clasificación</span><span>Duración</span><img src="../assets/img/150.png?h=4ab8ff224c94d01dbeb301ac5b2077db">
                                            <h6 class="text-center"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Película 2</h4><span>Año</span><span>Clasificación</span><span>Duración</span><img src="../assets/img/150.png?h=4ab8ff224c94d01dbeb301ac5b2077db">
                                            <h6 class="text-center"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Película 3</h4><span>Año</span><span>Clasificación</span><span>Duración</span><img src="../assets/img/150.png?h=4ab8ff224c94d01dbeb301ac5b2077db">
                                            <h6 class="text-center"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Película 4</h4><span>Año</span><span>Clasificación</span><span>Duración</span><img src="../assets/img/150.png?h=4ab8ff224c94d01dbeb301ac5b2077db">
                                            <h6 class="text-center"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Película 5</h4><span>Año</span><span>Clasificación</span><span>Duración</span><img src="../assets/img/150.png?h=4ab8ff224c94d01dbeb301ac5b2077db">
                                            <h6 class="text-center"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Película 6</h4><span>Año</span><span>Clasificación</span><span>Duración</span><img src="../assets/img/150.png?h=4ab8ff224c94d01dbeb301ac5b2077db">
                                            <h6 class="text-center"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"><a class="btn btn-danger float-right btn_next" role="button" href="dashboard.html">Salir</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js?h=89312d34339dcd686309fe284b3f226f"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js?h=0168f7c1e0d08faa2f4b13f4a1dc8c98"></script>
</body>

</html>