<!-- SE EXTIENDE DESDE LA PLANTILLA 'layouts/login_layout.html' -->
{% extends "layouts/login_layout.html" %}
{% block title %} Recuperar contraseña {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}

<!-- VENTANA FLOTANTE (MODAL) PARA OBTENER LA CONTRASEÑA AUTOGENERADA POR LA APLICACIÓN -->
<div class="modal" tabindex="-1" id="mdl_password" role="dialog">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title">Contraseña asignada</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <h4 class="text-center" id="new_pass"></h4>
                                <span class="text-center">Copie la contraseña asignada y peguela para iniciar sesión</span>
                                <span class="text-center">No olvide cambiar su contraseña al ingresar a la aplicación</span>
                        </div>
                        <div class="modal-footer">
                                <a href="{{ url_for('index') }}" type="button" class="btn btn-primary">Ir al inicio de sesión </a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                </div>
        </div>
</div>

<!-- VISTA PARCIAL PARA LA VENTANA RECUPERAR CONTRASEÑA -->
<div class="login-clean"
        style="height: 100%; background: url('static/assets/img/bckgrnd.jpg') center / cover no-repeat;opacity: 1;">
        <form action="#" onsubmit="return false;">
                <h2 class="sr-only">Iniciar sesión</h2>
                <div class="illustration" style="padding:0px;font-size: 70px;">
                        <i class="fas fa-video" style="font-size: 85px;"></i>
                </div>
                <div style="font-size: 10; text-align:center;margin-bottom:10px;">
                        <span style="text-align: center;width: 100%;">Ingrese su correo electrónico para generar una
                                nueva contraseña</span>
                </div>
                {% if alert %}
                <div>
                        <strong><small class="text-danger">* Atención: {{ alert }}</small></strong>
                </div>
                {% endif %}
                <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Correo electrónico">
                </div>
                <div class="form-group">
                        <button class="btn btn-primary btn-block" type="button" id="btn_recovery"
                                role="button" data-target="#mdl_password" data-toggle="modal">Recuperar
                                contraseña</button>
                </div>
                <a class="forgot" href="{{url_for('index')}}">Ir a inicio de sesión</a>
        </form>
</div>

<!-- SCRIPTS DE LA VISTA PARCIAL -->
<script>
        $('#btn_recovery').on('click', function () {
                var params = { email: $('input[name="email"]').val() };

                $.post('/recuperar_password', params)
                        .done(function (resp) {
                                if(resp.response=='OK'){$('#new_pass').html(resp.password);}
                                else if(resp.response == 'DUPLICADOS'){alert('El usuario no está duplicado, verifique su información con el webmaster');}
                                else if(resp.response == 'NOUSER'){alert('El usuario ingresado no existe');}
                                else{alert('Error desconocido');}

                        })
                        .fail(function (error) {
                                console.log(error);
                        });
        });
</script>

{% endblock %}