{% extends "layouts/login_layout.html" %}
{% block title %} Mi perfil {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"
            style="background: url('/static/assets/img/registration.jpg') center / cover no-repeat;">
        </div>
        <form action="{{ url_for('perfil') }}" method="POST">
            <h2 class="text-center">
                <strong>Mi perfil</strong>
            </h2>
            {% if alert %}
            <div>
                <strong><small class="text-danger">* Atención: {{ alert }}</small></strong>
            </div>
            {% endif %}
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email" value="{{ user_data.email }}" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Usuario"value="{{ user_data.username }}" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="city" placeholder="Ciudad"value="{{ user_data.city }}">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="chk_pass" id="chk_pass" value="1">
                    <input type="hidden" name="chk_pass" value="0">
                    <label class="form-check-label" for="chk_pass">Cambiar contraseñas</label>
                </div>
            </div>
            <div id="passwords" style="display:none;">
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Ingrese la contraseña">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password2" placeholder="Repita la contraseña">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Registrarse</button>
            </div>
            <a class="text-center" href="{{url_for('index')}}" style="text-align: center;color: rgb(80,95,108);">¿Ya
                tienes cuenta? Inicia sesión</a>
        </form>
    </div>
</div>
<script>
    $('#chk_pass').on('change',function(){
        if($(this).is(':checked')){
            $('#passwords').slideDown();
        }
        else{
            $('#passwords').slideUp();

        }
    });
</script>
{% endblock %}